*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background-color: #000;
    columns: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px,8%;
    position: relative;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 200px;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 50px;
}
nav button{
    border: 0;
    outline: 0;
    background-color: red;
    color: white;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 20px;
    font-size: 12px;
}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}
.language-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    margin-top: 100px;
}

.email-signup{
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background-color: red;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding:15px 30px ;
}
.email-signup button:hover{
    background-color: rgb(239, 91, 91);
    color: black;
}
.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    
}
.row2{
    display: flex;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    flex-direction: row-reverse;
    box-sizing: border-box;
    border-top: 6px solid #333;
}
.row3{
    display: flex;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    box-sizing: border-box;
    border-top: 6px solid #333;
    
}
.row4{
    box-sizing: border-box;
    display: flex;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    flex-direction: row-reverse;
    border-top: 6px solid #333;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}

.features h2{
    font-size:50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.faq{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 25%;
    color: white;
    text-align: center;
    border-top: 6px solid #333;
    
}
.faq h1{
    font-size: 200;
    font-weight: 200;
}
.accordion{
    width: 100%;
    margin: 60px auto;
    max-width: 750px;

}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transform: rotate(-0.25turn)
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-hieght 0.5s,padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{

    max-height: 600px;
    padding: 30px 20px;
    
}

.accordion input[type="radio"]:checked + label + ::after{
    transform: rotate(110deg);
}
.faq small{
    font-size: 13px;
}

.footer{
    box-sizing: border-box;
    
    
    margin-top: 6px;
    padding: 50px 5% 10px;
    
    border-top: 6px solid #333;
    color: #777;
}
.footer h3{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 2;
    margin-bottom: 20px;
}  
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: center;
    padding: 10px 0;
}

.language-btn2{
    width: 125px;
    height: 35px;
    border-radius: 4px;
    outline: 0;
    padding: 10px;
    background-color: #161515;
    color: white;
    border: 0.5px solid white;
    font-size: medium;
}